
table{
  border-collapse: collapse;
  min-width: 40rem;
  margin-bottom: 10rem;
  box-shadow: 0 5px 20px #bcf8e2;
}

td{
    border: 1px solid #ddd;
    padding: 8px;
  }

  
  
tr:nth-child(odd){background-color: #ffffff;}
tr:nth-child(even){background-color: #f2f2f2;}
tbody tr:hover {background-color: #ddd;}


th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    text-align: left;
    background-color: #04AA6D;
    border: 1px solid #04AA6D;
    color: white;
  }

  th .aligner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

button{
  background-color: #04AA6D;
  border: 1px solid black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  float: right;
}